@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap");

body {
  background-color: burlywood;
  margin: 0;
  margin-bottom: 200px;
  font-family: "Roboto", sans-serif;
}
h1 {
  margin: 20px;
  font-size: min(12vw, 64px);
  text-align: center;
  font-weight: 300;
}

* {
  box-sizing: border-box;
}
.searchbar input {
  padding: 10px;
  margin: 0;
  border-radius: 5px 0 0 5px;
  border: 1px;
  background-color: rgba(255, 255, 255, 0.7);
}
form {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: right;
}

.searchbar button {
  border-radius: 5px;
  border: 1px;
  aspect-ratio: 1/1;
  border-radius: 0 5px 5px 0;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

body {
  background-color: burlywood;
  margin: 0;
  margin-bottom: 200px;
}

div > p {
  background-color: yellow;
}

a:link {
  color: #ff0000;
}

/* visited link */
a:visited {
  color: #00ff00;
}

/* mouse over link */
a:hover {
  color: #ff00ff;
}

/* selected link */
a:active {
  color: #0000ff;
}

.article-poster {
  max-width: 100%;
}

.container {
  position: relative;
  padding: 20px;
}

.logo {
  aspect-ratio: 1/1;
  background-image: url(/images/logo.png);
  width: 36px;
  background-size: contain;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.searchbar {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 10;
}

.page-header {
  background: url(/images//pexels-taryn-elliott-3889919.jpg);
  background-attachment: scroll;
  background-size: cover;
  background-position: center 60%;
}

.page-header .container {
  height: 80px;
}

.hidden-xs {
  display: none;
}

.page-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 64px;
  background-color: darkslategrey;
  box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.3);
}

.page-footer .container {
  display: flex;
  justify-content: space-evenly;
}

nav {
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: dimgray;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

ul li a {
  text-decoration: none;
  color: azure;
  padding: 10px;
  margin: 1px;
  font-size: 24px;
}

ul li a:visited {
  color: bisque;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 10px;
}
.side-menu {
  position: fixed;
  bottom: 64px;
  left: 0;
  background-color: rgb(87, 144, 165);
  width: 100%;
}

.side-menu ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding: 0;
}

.side-menu ul li a {
  font-size: 18px;
}

nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

@media screen and (min-width: 480px) {
  .page-header .container {
    height: 19vw;
  }

  .hidden-xs {
    display: block;
  }
}

@media screen and (min-width: 900px) {
  .xs,
  .container.xs {
    display: none;
  }

  .col-4 {
    width: 33.333%;
  }

  .col-8 {
    width: 66.666%;
  }

  

  .side-menu {
    display: block;
    position: sticky;
    top: 85px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }
  .side-menu ul {
    display: block;
  }

  .logo {
    width: max(10vw, 36px);
  }

  .container {
    max-width: 1200px;
    margin: auto;
    display: flex;
  }

  .page-footer {
    height: 200px;
  }
  .bd {
    background-color: rgba(255, 255, 255, 0.2);
    margin: 10px;
    padding: 0 20px;
    border-bottom: solid 5px rgba(255, 255, 255, 0.4);
    border-radius: 10px 10px 0 0;
    color: rgba(0, 0, 0, 0.3);
  }
}


.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
  }

  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }