.searchbar input {
  padding: 10px;
  margin: 0;
  border-radius: 5px 0 0 5px ;
  border: 1px;
  background-color: rgba(255,255,255,0.7);
}
form {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: right;
}

.searchbar button {
  border-radius: 5px;
  border: 1px;
  aspect-ratio: 1/1;
  border-radius:  0 5px 5px 0  ;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


body { 
    background-color: burlywood;
    margin: 0;
}

div > p {
  background-color: yellow;
}

a:link {
  color: #FF0000;
}

/* visited link */
a:visited {
  color: #00FF00;
}

/* mouse over link */
a:hover {
  color: #FF00FF;
}

/* selected link */
a:active {
  color: #0000FF;
}

.article-poster{
  max-width: 100%;
}

.sidemenu {
  position: fixed;
  right: 20px;
  top: 100px;
  width: 25%;
}


.container{
  width: 900px;
  margin: auto;
  display: flex;
}

.logo{
  width: 25%;
}

.searchbar {
width: 75%;
text-align: right;
position: relative;
top: 150px;
}

.logo {
position: relative;
bottom: -150px
}

.page-header{
  height: 200px;
  background:url(/images//pexels-taryn-elliott-3889919.jpg);
  background-attachment: scroll;
  background-position: center 1643px;

}

.page-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding-top: 20px;
  background-color: darkslategrey;
}

nav {
  padding: 10px;
  position: sticky;
  top: 0;
  background-color: dimgray
}

nav ul{
  list-style: none;
  margin: 0;
  padding:0;
  display: flex;
  justify-content: center;
  margin: 10px;
}

ul li a{
  text-decoration: none;
  color: azure;
  padding: 10px;
  margin: 1px;
  font-size: 24px;

}

ul li a:visited{
  color: bisque;
}
main {
  width: 66.666%;
}
.side-menu{
  position: fixed;
  right: 20px;
  top: 300px;
  width: 30%;
  background-color: rgb(87, 144, 165);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
  padding: 20px;
}